= simple_form_for(resource, 
      :as => resource_name, 
      :url => registration_path(resource_name), 
      :html => {:class => 'form-horizontal' },
      :defaults => { input_html: { class: 'span12' } }) do |f|
  = f.error_notification
  .form-inputs
    .control-group
      = f.input :login, :required => true, 
        placeholder: 'Логин'
    .control-group
      = f.input :email, :required => true, 
        placeholder: 'e-mail'
    .control-group
      = f.input :password, :required => true,
        placeholder: 'Пароль' 
    .control-group
      = f.input :name, :as => :string,
        placeholder: 'Имя' 
    .control-group
      = f.input :surname, :as => :string,
        placeholder: 'Фамилия'
    .control-group
      = f.input :middlename, :as => :string,
        placeholder: 'Отчество'
    .control-group
    .control-group
      = f.input :date_of_birth, :as => :date, :start_year => 1900, :end_year => Date.today.year - 12, 
        input_html: { class: 'span4' }

  .form-actions
    %button.btn.btn-primary#signUp{:type => "submit"}
      Зарегистрироваться 

