.container-fluid
  .row-fluid
    .span8.offset2
      %table.table.table-bordered
        %thead
          %tr
            %td
              Логин
            %td
              e-mail
            %td
              Имя 
            %td
              Фамилия
            %td
              Отчество
            %td
              Дата рождения 
        %tbody
          - @users.each do |user|
            %tr
              %td
                = user.login
              %td
                = user.email
              %td
                = user.name
              %td
                = user.surname
              %td
                = user.middlename
              %td
                = user.date_of_birth


